@model IEnumerable<Customer>

@{
    ViewData["Title"] = "Customers";
}

<h1>Customers</h1>

<p>
    <a asp-controller="Customer" asp-action="Create" class="btn btn-primary">Create New</a>
</p>

@foreach (var item in Model)
{
<div class="row">
    <div class="col-4">
        @Html.DisplayFor(modelItem => item.CustomerId)
        @Html.DisplayFor(modelItem => item.CustomerFirstName)
        @Html.DisplayFor(modelItem => item.CustomerLastName)
        @Html.DisplayFor(modelItem => item.Email)
        @Html.DisplayFor(modelItem => item.Telephonenumber)
    </div>

    <div class="col-4">
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </div>
    </div>
}



